{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "globals": {
    "clearTimeout": false,
    "console": false,
    "setTimeout": false,
    "window": false,
    "document": false,
    "fetch": false,
    "HTMLElement": false
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "import/no-extraneous-dependencies": [
      "off"
    ],
    "import/no-unresolved": [
      "off"
    ],
    "import/extensions": [
      "off"
    ]
  }
}